<section class="row mt-5">
    <div class="col">
        <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalChica">Nueva chica</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Oferta</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chica of chicas; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{chica.name}}</td>
                    <td>{{chica.edad}}</td>
                    <td>{{chica.precio}}</td>
                    <td>{{chica.oferta == 1 ? 'Si' : 'No'}}</td>
                    <td *ngIf="chica.userUid == userUid || isAdmin == true; else noOwner"><button class="btn btn-primary" data-toggle="modal" data-target="#modalChica" (click)="onPreUpdateChica(chica)">Actualizar</button></td>
                    <ng-template #noOwner>
                        <td>
                            <button class="btn btn-secondary" disabled="true">Actualizar</button>
                        </td>
                    </ng-template>
                    <td *ngIf="isAdmin == true; else noAdmin"><button class="btn btn-danger" (click)="onDeleteChicas(chica.id)">Eliminar</button></td>
                    <ng-template #noAdmin>
                        <td>
                            <button class="btn btn-danger" disabled="true">Eiminar</button>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<app-modal [userUid]="userUid"></app-modal>